In [1]:
import sqlite3 as sq3
import csv
import pandas as pd

In [3]:
connect = sq3.connect('/content/abusive_challenge.db')
df = pd.read_sql_query('select * from abusive',connect)
df

            teks
0        ABUSIVE
1           alay
2          ampas
3           buta
4        keparat
..           ...
121        rezim
122        sange
123       serbet
124        sipit
125  transgender

[126 rows x 1 columns]